mode: rule
mixed-port: 7897
port: 7890
socks-port: 7891
redir-port: 7893
tproxy-port: 7894
allow-lan: true
log-level: warning
ipv6: true
external-controller: 0.0.0.0:9097
external-ui: ./ui/zashboard
external-ui-url: https://github.com/Zephyruso/zashboard/archive/refs/heads/gh-pages.zip
external-controller-unix: /var/tmp/mihomo/mihomo.sock
unified-delay: true
bind-address: "*"
external-controller-cors:
  allow-private-network: true
  allow-origins:
  - tauri://localhost
  - http://tauri.localhost
  - https://yacd.metacubex.one
  - https://metacubex.github.io
  - https://board.zash.run.place
tun:
  enable: true
  stack: gvisor
  auto-route: true
  strict-route: false
  auto-detect-interface: true
  dns-hijack:
  - any:53
dns:
  enable: true
  ipv6: true
  prefer-h3: true
  use-host: true
  respect-rules: true
  enhanced-mode: fake-ip
  listen: 0.0.0.0:7874
  nameserver:
  - 8.8.8.8
  - 1.0.0.1
  - https://dns.google/dns-query
  fallback:
  - 1.1.1.1
  - 8.8.4.4
  - https://cloudflare-dns.com/dns-query
  - 112.215.203.254
  proxy-server-nameserver:
  - 8.8.8.8
  - 1.0.0.1
  - https://dns.google/dns-query
  - https://cloudflare-dns.com/dns-query
  - https://doh.pub/dns-query
  default-nameserver:
  - 8.8.8.8
  - 1.1.1.1
  - 112.215.203.254
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
  - "*.lan"
  - "*.localdomain"
  - "*.example"
  - "*.invalid"
  - "*.localhost"
  - "*.test"
  - "*.local"
  - "*.home.arpa"
  - time.*.com
  - time.*.gov
  - time.*.edu.cn
  - time.*.apple.com
  - time1.*.com
  - time2.*.com
  - time3.*.com
  - time4.*.com
  - time5.*.com
  - time6.*.com
  - time7.*.com
  - ntp.*.com
  - ntp1.*.com
  - ntp2.*.com
  - ntp3.*.com
  - ntp4.*.com
  - ntp5.*.com
  - ntp6.*.com
  - ntp7.*.com
  - "*.time.edu.cn"
  - "*.ntp.org.cn"
  - +.pool.ntp.org
  - time1.cloud.tencent.com
  - music.163.com
  - "*.music.163.com"
  - "*.126.net"
  - musicapi.taihe.com
  - music.taihe.com
  - songsearch.kugou.com
  - trackercdn.kugou.com
  - "*.kuwo.cn"
  - api-jooxtt.sanook.com
  - api.joox.com
  - joox.com
  - y.qq.com
  - "*.y.qq.com"
  - streamoc.music.tc.qq.com
  - mobileoc.music.tc.qq.com
  - isure.stream.qqmusic.qq.com
  - dl.stream.qqmusic.qq.com
  - aqqmusic.tc.qq.com
  - amobile.music.tc.qq.com
  - "*.xiami.com"
  - "*.music.migu.cn"
  - music.migu.cn
  - "*.msftconnecttest.com"
  - "*.msftncsi.com"
  - msftconnecttest.com
  - msftncsi.com
  - localhost.ptlogin2.qq.com
  - localhost.sec.qq.com
  - +.srv.nintendo.net
  - +.stun.playstation.net
  - xbox.*.microsoft.com
  - xnotify.xboxlive.com
  - +.battlenet.com.cn
  - +.wotgame.cn
  - +.wggames.cn
  - +.wowsgame.cn
  - +.wargaming.net
  - proxy.golang.org
  - stun.*.*
  - stun.*.*.*
  - +.stun.*.*
  - +.stun.*.*.*
  - +.stun.*.*.*.*
  - heartbeat.belkin.com
  - "*.linksys.com"
  - "*.linksyssmartwifi.com"
  - "*.router.asus.com"
  - mesu.apple.com
  - swscan.apple.com
  - swquery.apple.com
  - swdownload.apple.com
  - swcdn.apple.com
  - swdist.apple.com
  - lens.l.google.com
  - stun.l.google.com
  - +.nflxvideo.net
  - "*.square-enix.com"
  - "*.finalfantasyxiv.com"
  - "*.ffxiv.com"
  - "*.mcdn.bilivideo.cn"
  - +.media.dssott.com
profile:
  store-selected: true
  store-fake-ip: true
proxy-providers:
  BIZZ:
    type: file
    path: "./proxy-provider/bizz.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/mihomo-config/refs/heads/main/proxy-provider/bizz.yaml
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 30
  TRIAL:
    type: file
    path: "./proxy-provider/trial.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/mihomo-config/refs/heads/main/proxy-provider/trial.yaml
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 30
proxy-groups:
- name: AUTO
  type: select
  use:
  - BIZZ
  - TRIAL
  proxies:
  - LOAD-BALANCE
  - BEST-PING
  - FALLBACK
  - DIRECT
- name: LOAD-BALANCE
  type: load-balance
  strategy: consistent-hashing
  url: http://www.gstatic.com/generate_204
  interval: 300
  use:
  - BIZZ
  - TRIAL
- name: BEST-PING
  type: url-test
  url: http://www.gstatic.com/generate_204
  interval: 300
  tolerance: 50
  use:
  - BIZZ
  - TRIAL
  proxies:
  - DIRECT
- name: FALLBACK
  type: fallback
  url: http://www.gstatic.com/generate_204
  interval: 300
  use:
  - BIZZ
  - TRIAL
- name: SOSMED
  type: load-balance
  strategy: consistent-hashing
  url: http://www.gstatic.com/generate_204
  interval: 300
  use:
  - BIZZ
  - TRIAL
rule-providers:
  adblock-oisd_big:
    type: http
    behavior: classical
    path: "./rule-provider/adblock/oisd_big.yaml"
    url: https://raw.githubusercontent.com/hillz2/openclash_adblock/main/oisd_big.yaml
    interval: 28800
  game-HOK:
    type: http
    behavior: classical
    path: "./rule-provider/game/hok.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/clashrules/main/rule_provider/Game_HonorOfKings_Ports.yaml
    interval: 28800
  game-AOV:
    type: http
    behavior: classical
    path: "./rule-provider/game/aov-udp.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/clashrules/main/rule_provider/Game_ArenaOfValor_Ports.yaml
    interval: 28800
  sosmed-facebook:
    type: http
    behavior: classical
    path: "./rule-provider/sosmed/facebook.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/clashrules/main/rule_provider/Social_Facebook.yaml
    interval: 28800
  sosmed-instagram:
    type: http
    behavior: classical
    path: "./rule-provider/sosmed/instagram.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/clashrules/main/rule_provider/Social_Instagram.yaml
    interval: 28800
  sosmed-youtube:
    type: http
    behavior: classical
    path: "./rule-provider/sosmed/youtube.yaml"
    url: https://raw.githubusercontent.com/wildan-pratama/clashrules/main/rule_provider/Stream_Youtube.yaml
    interval: 28800
rules:
- RULE-SET,adblock-oisd_big,REJECT
- RULE-SET,sosmed-facebook,SOSMED
- RULE-SET,sosmed-instagram,SOSMED
- RULE-SET,sosmed-youtube,SOSMED
# - RULE-SET,game-HOK,DIRECT
# - RULE-SET,game-AOV,DIRECT
- RULE-SET,game-HOK,BEST-PING
- RULE-SET,game-AOV,BEST-PING
- MATCH,AUTO
